/**********************************
GENERAL
***********************************/

body {
	background: #8f709a;
	font-family: Tahoma, sans-serif;
	font-size: 18px;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/**********************************
HEADING
***********************************/

header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  text-align: center;
}

l1 {
	font-size: 3rem;
	margin: 15px 0;
  	font-weight: bold;
  	line-height: 0.8em;
  	text-decoration: underline;
}

/**********************************
INSTRUCTIONS
***********************************/


section {
	border: 2px solid #c3c3c3;
	padding: 15px 10px;
	text-align: center;
	background-color: #b35959;
	border-radius: 5px;
}

ul {
	text-align: left;
}

.important {
	text-decoration: underline;
	color: gold;
}

#throwButton {
	background-color: #8c6061;
	margin: auto;
	max-width: 300px;
	padding: 10px;
	margin-top: 15px;
	text-align: center;
	border: 2px solid #c3c3c3;
	border-radius: 5px;
	cursor: pointer;
}

#overlay {
  background:rgba(0,0,0,0.9);
  width:50%;
  height:30%;
  position:absolute;
  border-radius: 10px;
  top:15%;
  left:25%;
  display:none;
  text-align: center;
}

.rune {
	display: inline-block;
    height: 60%;
    vertical-align: middle;
	margin-left: 4%;
	margin-right: 4%;
}

#closeOverlay {
	background-color: rgba(0,0,0,0.9);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	display: inline-block;
}

#descriptionBox {
	background-color: black;
	position: absolute;
	height: 48%;
	width: 50%;
	left: 25%;
	top:50.5%;
	border-radius: 10px;

}

td {
	color: white;
}
